<footer class="t09">
  © {{ now.Format "2006"}} | <a href="{{ $.Site.Params.license.url }}">{{ $.Site.Params.license.type }}</a> <a href="mailto:{{ $.Site.Params.social.email }}">✉️ {{ $.Site.Params.social.domain }}</a>
</footer>
