<div class="social">
  {{ with .Site.Params.social.instagram }}
    <a href="https://instagram.com/{{ . }}">
      <svg width="18" height="18" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Instagram icon</title><path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z"/></svg>
    </a>
  {{ end }}
  {{ with .Site.Params.social.twitter }}
    <a href="https://twitter.com/{{ . }}">
      <svg role="img" width="18" height="18" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <title>Twitter icon</title>
        <path d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"/>
      </svg>
    </a>
  {{ end }}
  {{ with .Site.Params.social.youtube }}
    <a href="https://youtube.com/{{ . }}">
      <svg width="18" height="18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>YouTube icon</title><path d="M23.495 6.205a3.007 3.007 0 0 0-2.088-2.088c-1.87-.501-9.396-.501-9.396-.501s-7.507-.01-9.396.501A3.007 3.007 0 0 0 .527 6.205a31.247 31.247 0 0 0-.522 5.805 31.247 31.247 0 0 0 .522 5.783 3.007 3.007 0 0 0 2.088 2.088c1.868.502 9.396.502 9.396.502s7.506 0 9.396-.502a3.007 3.007 0 0 0 2.088-2.088 31.247 31.247 0 0 0 .5-5.783 31.247 31.247 0 0 0-.5-5.805zM9.609 15.601V8.408l6.264 3.602z"/></svg>
    </a>
  {{ end }}
  {{ with .Site.Params.social.facebook }}
    <a href="https://facebook.com/{{ . }}">
      <svg width="18" height="18" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Facebook icon</title><path d="M22.676 0H1.324C.593 0 0 .593 0 1.324v21.352C0 23.408.593 24 1.324 24h11.494v-9.294H9.689v-3.621h3.129V8.41c0-3.099 1.894-4.785 4.659-4.785 1.325 0 2.464.097 2.796.141v3.24h-1.921c-1.5 0-1.792.721-1.792 1.771v2.311h3.584l-.465 3.63H16.56V24h6.115c.733 0 1.325-.592 1.325-1.324V1.324C24 .593 23.408 0 22.676 0"/></svg>
    </a>
  {{ end }}
  {{ with .Site.Params.social.vsco }}
    <a href="https://vsco.com/{{ . }}">
      <svg width="18" height="18" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>VSCO icon</title><path d="M12 0C5.376 0 0 5.376 0 12s5.376 12 12 12 12-5.376 12-12S18.624 0 12 0zm11.52 12c0 .408-.023.792-.072 1.176l-2.04-.24c.024-.312.05-.624.05-.936 0-.288-.025-.6-.05-.888l2.04-.24c.072.384.072.744.072 1.128zM.479 12c0-.384.024-.769.049-1.152l2.04.24c-.024.312-.047.6-.047.912s.023.6.047.912l-2.04.24C.479 12.769.479 12.384.479 12zm20.472-3.096l1.921-.72c.264.72.433 1.464.552 2.232l-2.04.24c-.097-.6-.24-1.2-.433-1.752zM21 12c0 .6-.072 1.176-.167 1.752l-2.017-.455c.071-.409.119-.841.119-1.297s-.048-.912-.119-1.344l2.017-.457c.118.577.167 1.177.167 1.801zm-9 6.456C8.435 18.455 5.545 15.565 5.544 12 5.545 8.435 8.435 5.545 12 5.544c3.565.001 6.455 2.891 6.456 6.456.008 3.559-2.871 6.448-6.429 6.456H12zM12.216 21v-2.064c.885-.029 1.756-.224 2.568-.575l.888 1.872c-1.09.482-2.264.742-3.456.767zm-3.936-.791l.912-1.873c.792.359 1.656.575 2.568.6V21c-1.202-.023-2.386-.293-3.48-.791zM3 12c0-.624.072-1.224.192-1.824l2.016.456c-.098.45-.146.908-.144 1.368 0 .432.048.864.12 1.272l-2.016.455C3.051 13.159 2.994 12.58 3 12zm8.76-9v2.064c-.877.029-1.74.224-2.544.576l-.888-1.871C9.411 3.291 10.577 3.03 11.76 3zm3.935.792l-.911 1.872c-.809-.363-1.682-.559-2.568-.576V3.024c1.248 0 2.424.288 3.479.768zm5.088 4.656c-.231-.56-.513-1.098-.84-1.608l1.681-1.152c.407.648.768 1.32 1.056 2.04l-1.897.72zm-.07 1.296l-2.018.456c-.23-.85-.621-1.648-1.151-2.352l1.632-1.295c.72.959 1.248 2.015 1.537 3.191zm-3.457-2.256c-.572-.667-1.264-1.22-2.04-1.633l.912-1.871c1.056.549 1.993 1.299 2.76 2.208l-1.632 1.296zm-.6-3.744l.96-1.824c.672.384 1.295.816 1.896 1.32L18.145 4.8c-.461-.401-.959-.754-1.489-1.056zm-.408-.216c-.54-.266-1.102-.483-1.68-.648l.504-1.992c.744.216 1.464.48 2.159.84l-.983 1.8zm-2.16-.768c-.6-.144-1.2-.216-1.824-.239V.479c.793.024 1.584.12 2.328.289l-.504 1.992zm-2.28-.239c-.605.021-1.207.094-1.8.216L9.528.744c.72-.168 1.487-.265 2.28-.265v2.042zm-2.28.334c-.586.167-1.156.384-1.704.649l-.96-1.824c.691-.343 1.415-.616 2.16-.816l.504 1.991zm-2.112.865c-.529.294-1.027.64-1.488 1.032L4.56 3.216c.6-.504 1.224-.936 1.896-1.319l.96 1.823zm.48.264l.888 1.871c-.792.408-1.464.96-2.04 1.608L5.136 6.168c.775-.895 1.711-1.636 2.76-2.184zM4.848 6.552l1.608 1.295c-.53.705-.921 1.503-1.152 2.353l-2.016-.456c.312-1.2.84-2.28 1.56-3.192zM3.24 8.4l-1.92-.72c.287-.72.648-1.416 1.08-2.04l1.68 1.176c-.341.494-.623 1.025-.84 1.584zm-.168.455c-.192.577-.36 1.152-.432 1.776L.6 10.393c.12-.769.288-1.537.553-2.257l1.919.719zm-.456 4.513c.096.6.239 1.2.432 1.776l-1.92.72c-.271-.728-.456-1.485-.552-2.257l2.04-.239zm.624 2.208c.239.576.528 1.104.84 1.607L2.4 18.336c-.435-.629-.797-1.306-1.08-2.016l1.92-.744zm.024-1.392l2.017-.456c.216.864.624 1.681 1.128 2.376L4.8 17.4c-.725-.957-1.247-2.051-1.536-3.216zm3.432 2.28c.577.672 1.272 1.248 2.064 1.656l-.912 1.872c-1.063-.557-2.009-1.315-2.784-2.232l1.632-1.296zm.72 3.815l-.96 1.825c-.674-.376-1.31-.819-1.896-1.321l1.368-1.535c.456.407.936.744 1.488 1.031zm.408.217c.528.264 1.104.48 1.705.647l-.504 1.992c-.747-.196-1.471-.469-2.16-.815l.959-1.824zm2.16.768c.576.12 1.176.193 1.8.217v2.039c-.774-.026-1.544-.114-2.305-.264l.505-1.992zm2.28.216c.605-.021 1.207-.094 1.801-.217l.479 1.992c-.749.168-1.513.264-2.28.287V21.48zm2.257-.336c.586-.165 1.155-.382 1.703-.647l.96 1.824c-.688.35-1.412.623-2.159.815l-.504-1.992zm2.086-.865c.528-.287 1.032-.647 1.488-1.031l1.369 1.535c-.588.502-1.223.945-1.896 1.321l-.961-1.825zm-.479-.263l-.888-1.871c.788-.414 1.489-.977 2.064-1.656l1.606 1.296c-.778.91-1.722 1.668-2.782 2.231zm3.071-2.592l-1.607-1.296c.532-.708.916-1.517 1.128-2.376l2.017.456c-.311 1.157-.831 2.248-1.538 3.216zM20.76 15.6l1.92.721c-.288.72-.648 1.392-1.079 2.04l-1.682-1.177c.337-.504.624-1.032.841-1.584zm.168-.455c.192-.553.336-1.152.433-1.752l2.039.239c-.11.761-.294 1.508-.551 2.232l-1.921-.719zm.456-9.841l-1.681 1.152c-.358-.49-.76-.947-1.199-1.368l1.368-1.536c.552.552 1.056 1.128 1.512 1.752zM4.2 3.528l1.368 1.536c-.456.408-.84.864-1.2 1.368l-1.68-1.176c.431-.636.94-1.216 1.512-1.728zM2.664 18.744l1.68-1.152c.36.48.769.937 1.2 1.369l-1.368 1.535c-.548-.545-1.054-1.131-1.512-1.752zm17.16 1.729l-1.368-1.537c.432-.407.841-.863 1.199-1.344l1.682 1.176c-.457.6-.961 1.175-1.513 1.705z"/></svg>
    </a>
  {{ end }}
  {{ with .Site.Params.social.github }}
    <a href="https://github.com/{{ . }}">
      <svg width="18" height="18" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M8.032 19.121q0 .194-.242.194-.29.048-.29-.194 0-.145.242-.145.29-.049.29.145zm-1.306.048q-.29-.048-.242-.242.097-.193.339-.096.242.048.193.242-.048.193-.29.096zm1.935-.338q.242 0 .242.145.049.145-.193.242-.242.048-.29-.145 0-.194.241-.242zM11.855.298q3.29 0 6.097 1.549 2.806 1.548 4.403 4.258 1.645 2.71 1.645 6 0 4.016-2.274 7.21-2.226 3.145-5.855 4.354-.387.097-.63-.096-.193-.194-.193-.484V21.54v-2.516q0-1.548-.822-2.226 1.064-.145 1.645-.242.58-.096 1.452-.435.87-.339 1.306-.871.484-.532.823-1.5.338-.968.338-2.323 0-.919-.29-1.5-.29-.58-.968-1.306.58-1.5-.097-3.29-.483-.146-1.306.193-.823.29-1.452.678l-.58.435q-1.5-.435-3.097-.435-1.548 0-3 .435-.242-.193-.677-.435-.436-.29-1.355-.63-.871-.387-1.307-.241-.726 1.79-.145 3.29-1.113 1.21-1.113 2.806 0 1.355.339 2.323t.774 1.5q.436.532 1.258.871.823.339 1.403.484.63.097 1.646.193-.63.581-.775 1.646-.483.193-1.016.29-.484.097-1.258-.194-.774-.29-1.258-1.113-.29-.532-.774-.822-.436-.339-.774-.387l-.29-.049q-1.065 0-.097.726.338.194.677.63.339.435.484.773l.193.387q.194.581.678.968.484.387 1.064.484.581.097 1.113.097.533 0 .871-.049L9 20.137v1.742q.048 1.161.048 1.21 0 .29-.242.484-.193.193-.58.096-3.678-1.21-5.952-4.354Q0 16.12 0 12.105q0-5.032 3.387-8.42Q6.823.298 11.855.298zM4.694 16.992q.096-.097.241.048.146.145.049.242-.097.097-.242-.048-.145-.145-.048-.242zm-.533-.387q.097-.097.242-.049.145.097.097.194-.048.145-.194.048-.193-.096-.145-.193zm1.597 1.693q.097-.145.29.049.194.193.097.338-.145.146-.339-.048-.193-.193-.048-.339zm-.58-.677q.145-.145.29.097.145.193 0 .29-.145.097-.29-.097-.097-.242 0-.29z"/></svg>
    </a>
  {{ end }}
  {{ with .Site.Params.social.gitlab }}
    <a href="https://gitlab.com/{{ . }}">
      <svg width="18" height="18" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M4.502.847c-.219 0-.375.109-.469.328l-2.624 8.2h6.186l-2.671-8.2C4.86.956 4.72.847 4.502.847zm3.093 8.529L12 23.153l4.405-13.777zm8.81 0h6.186l-2.624-8.201c-.094-.219-.25-.328-.469-.328-.219 0-.36.109-.422.328zm6.186 0L12 23.153l11.622-8.622c.344-.282.453-.625.328-1.031zM12 23.153L1.409 9.376.05 13.5c-.125.406-.016.75.328 1.03z"/></svg>
    </a>
  {{ end }}
  {{ with .Site.Params.social.dribbble }}
    <a href="https://dribbble.com/{{ . }}">
      <svg width="18" height="18" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M3.484 3.532Q7.016 0 12 0t8.468 3.532Q24 7.016 24 12t-3.532 8.516Q16.984 24 12 24t-8.516-3.484Q0 16.984 0 12t3.484-8.468zm16.451 1.984q-.29.387-.774.871-.435.484-1.838 1.5-1.404 1.016-3.097 1.694.435.967.87 2.032 3.533-.484 7.162.29-.048-3.58-2.323-6.387zm-1.16-1.161Q16.886 2.66 14.467 2.08q-2.42-.63-4.887-.049 2.08 2.758 3.822 6 1.645-.58 2.952-1.5 1.355-.92 1.742-1.355.435-.483.677-.822zM7.644 2.758Q6.194 3.435 5.032 4.5 3.871 5.565 3.048 6.968q-.774 1.355-1.064 2.951 4.548.049 9.435-1.258-1.742-3.145-3.774-5.903zM1.742 12q0 3.968 2.661 6.871.823-1.452 2.13-2.806 1.306-1.355 3.048-2.468T13.113 12q-.339-.871-.823-1.742-5.225 1.548-10.548 1.452V12zm3.968 8.08q2.225 1.791 5.032 2.13 2.806.338 5.274-.775-.629-3.725-2.177-7.741-2.952.967-5.13 2.806-2.128 1.79-3 3.58zm12 .436q3.725-2.516 4.403-6.87-3.048-.969-6.387-.436 1.403 3.87 1.984 7.306z"/></svg>
    </a>
  {{ end }}
  {{ with .Site.Params.social.behance }}
    <a href="https://behance.com/{{ . }}">
      <svg width="18" height="18" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path style="line-height:1.25;-inkscape-font-specification:'Source Sans Pro, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start" d="M0 4.48v14.79h7.167c1.472 0 2.708-.36 3.708-1.083 1-.722 1.5-1.791 1.5-3.208 0-2-.903-3.25-2.708-3.75 1.333-.639 2-1.666 2-3.083 0-2.445-1.57-3.667-4.709-3.667zm15.667.79v1.46h6V5.27zM3.25 7.02h3.042c1.472 0 2.208.556 2.208 1.668 0 1.194-.653 1.791-1.958 1.791H3.25zm15.542 1.25c-1.611 0-2.93.543-3.959 1.626-1 1.055-1.5 2.403-1.5 4.041 0 1.667.486 3.014 1.459 4.042 1 1.028 2.333 1.542 4 1.542 2.555 0 4.222-1.195 5-3.584h-2.584c-.083.306-.264.57-.541.792a2.91 2.91 0 0 1-.875.459 2.667 2.667 0 0 1-.917.166c-.833 0-1.486-.236-1.958-.708-.445-.472-.667-1.153-.667-2.042h7.708c.028-.222.042-.403.042-.541 0-1.64-.472-3.014-1.417-4.125-.916-1.112-2.18-1.667-3.791-1.667zm-.084 2.21c1.417 0 2.195.763 2.334 2.29H16.25c.056-.694.306-1.25.75-1.666.444-.416 1.014-.625 1.708-.625zM3.25 12.686h3.542c1.555 0 2.333.709 2.333 2.126 0 1.305-.806 1.958-2.417 1.958H3.25z"/></svg>
    </a>
  {{ end }}
  {{ with .Site.Params.social.paypal }}
    <a href="https://paypal.me/{{ . }}">
      <svg width="18" height="18" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M5.317 21.292h.413c.286 0 .49.049.542-.183.05-.231.948-5.942 1.098-6.852.15-.91.122-2.203 2.836-2.107 2.713.095 6.575.284 8.53-4.38C20.694 3.104 18.216 0 14.936 0H6.328c-.782 0-1.294-.06-1.595 1.625-.3 1.686-2.724 17.401-2.873 18.338-.148.936-.085 1.362.767 1.362.85 0 2.69-.033 2.69-.033zM8.073 24h3.091c.526 0 .83-.227.954-.857l.124-.63s.54-3.315.66-4.144c.119-.829.352-1.075 1.586-1.075 3.67 0 5.514-1.461 6.57-3.22 1.688-3.013 1.09-5.506.805-6.246-.286-.74-.743-1.262-.802-.976-.3.806-.52 3.317-3.502 5.465-2.254 1.623-4.637 1.493-6.455 1.493-1.818 0-1.873-.175-2.02.67-.147.845-1.35 7.831-1.46 8.566-.11.734.086.902.45.954z"/></svg>
    </a>
  {{ end }}
  {{ with .Site.Params.social.telegram }}
    <a href="https://t.me/{{ . }}">
      <svg width="18" height="18" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path style="line-height:1.25;-inkscape-font-specification:'Source Sans Pro, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start" d="M23.934 3.8l-3.64 17.025q-.429 1.82-1.981.963l-5.515-4.068-2.676 2.57q-.536.535-1.125.535l.429-5.622L19.65 5.995q.375-.375 0-.428-.321-.107-.696.16L6.32 13.704.86 11.991q-.91-.268-.857-.803.054-.535 1.124-.91l21.255-8.245q.803-.268 1.284.214.482.429.268 1.553z"/></svg>
    </a>
  {{ end }}
</div>
