{{ define "main" }}
{{ $image := .Resources.GetMatch "cover" | default (index (.Resources.ByType "image") 0) }}
<div class="post-img" style="background: url('{{ $image.Permalink }}') no-repeat 50% / cover"></div>
<div class="post-title">
  <span class="category">
    {{ range first 1 .Params.categories }}
    <a class="no-decoration" href="/{{ . }}">{{ . }}</a>
    {{ end }} ↠
    {{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
  </span>
  <h1 class="medium">{{ .Params.emoji}} {{ .Title }}</h1>
  <h3>{{ .Params.subtitle }}</h3>
</div>
<div class="main post">
  {{ if .IsTranslated }}
    {{ range .Translations }}
    <p class="translation en">
      <a href="{{ .Permalink }}">{{ T "also_available" }} {{ .Language.LanguageName }}</a>
    </p>
    {{ end}}
  {{ end }}
  {{ partial "gallery.html" . }}
  {{.Content}}
  {{if .Params.gear }}
    <p class="center t12"><i>Gear: </i>{{ delimit .Params.gear " ● " }}</p>
  {{ end }}
  <div id="comments" class="thin">
    {{- partial "comments.html" . -}}
  </div>
</div>
{{ partial "three.html" (.Site.RegularPages.Related . ) }}
{{ end }}
