{{ define "main" }}
  <div class="main">
    <div class="list journal">
    {{ range $index, $post := first 11 (where .Site.RegularPages "Type" "posts") }}
      {{ partial "post.html" (dict "post" $post "index" $index "ctx" $)}}
    {{ end }}
    </div>
  </div>
{{ end }}
