{{ define "main" }}
  <div class="main">
    {{.Content}}

    <form id="contact" class="boilerform" name="contact" netlify-honeypot="bot-field" method="POST" data-netlify="true">
      <fieldset class="c-form">
        <legend class="c-form__heading">Kontak</legend>

        <p class="hidden" style="display: none;">
          <label>Don’t fill this out if you're human: </label><input name="bot-field" />
        </p>
        <div class="c-form__row">
          <label class="c-label">Nama Anda</label>
          <input class="c-input-field" type="text" name="name" />
        </div>
        <div class="c-form__row">
          <label class="c-label">Surel Anda</label>
          <input class="c-input-field" type="email" name="email" />
        </div>
        <div class="c-form__row">
          <label class="c-label">Pesan</label>
          <textarea class="c-input-field c-input-field--multiline" name="message"></textarea>
        </div>
        <div class="c-form__row">
          <button type="submit" class="t12 c-button">Kirim</button>
        </div>
      </fieldset>
    </form>
  </div>
{{ end }}
